# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Pebble specific items.
build
include
lib
pebble_app.ld
resources/wscript
tools
waf
wscript
.waf*
.lock-waf*

# Swapfiles.
*.sw?
